[Unit]
Description=Kurd node owned network policy
Documentation=file:/usr/local/share/doc/kurd-node/LIVE-DATA-PLANE.md
Requires=systemd-networkd.service
Wants=unbound.service
After=network-online.target systemd-networkd.service unbound.service
Before=kurd-node.socket kurd-node.service

[Service]
Type=oneshot
ExecStartPre=/usr/sbin/nft -c -f /etc/nftables.d/kurd-node.nft
ExecStart=/usr/sbin/nft -f /etc/nftables.d/kurd-node.nft
ExecReload=/usr/sbin/nft -c -f /etc/nftables.d/kurd-node.nft
ExecReload=/usr/sbin/nft -f /etc/nftables.d/kurd-node.nft
ExecStop=/usr/sbin/nft destroy table inet kurd_node
RemainAfterExit=yes
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectClock=yes
ProtectHostname=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
CapabilityBoundingSet=CAP_NET_ADMIN
RestrictAddressFamilies=AF_NETLINK
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
LimitCORE=0

[Install]
WantedBy=multi-user.target
