<?xml version="1.0" encoding="utf-8"?>
<!-- SPDX-License-Identifier: AGPL-3.0-or-later -->
<!-- Copyright 2026 Saro -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name=".InternalVpnSocketProtectionService"
            android:exported="false"
            android:process=":vpn" />
    </application>
</manifest>
